{% extends "base.html.twig" %}

{% block pageTitle %}Programmas{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            
            <div id="outer_container" class="my-header">
                <div id="imagePan">
                    <div class="panning-container">
                        <div><img src="/img/programmas_background.jpg" class="panning"></div>
                    </div>
                    <div class="imagePan-menu">
                        <br>
                        <h1>Programmas</h1>
                        <div class="btn-group my-program-btn-group">
                            {% set newArray = [] %}
                            {% for programma in programmas %}
                                {% if programma.program_type not in newArray %}
                                    <button type="button" class="btn btn-default my-program-button"><a href="#{{programma.program_type}}">{{programma.program_type}}</a></button>
                                {% set newArray = newArray|merge([programma.program_type]) %}
                                {% endif %}                          
                            {% endfor %}        
                        </div> 
                    </div>  
                </div>
            </div>   
                            
            <div class="my-wrapper">                
                <div class="col-md-12">
                    {% for x in newArray %}
                        <div class="programma-type-container">
                            <p class="programma-type" id="{{x}}">{{x}}</p>
                        </div>
                        {% for programma in programmas %}
                            {% if x == programma.program_type %}
                                <a href="{{urlFor('study', {slug: programma.slug})}}">
                                    <div class="program-box">
                                        <img src="/assets/{{programma.slug}}.png" alt="{{programma.name}}">
                                        <h3>{{ programma.name }}</h3>
                                        <h5>{{ programma.short_descr}}</h5>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}