{% extends "base.html.twig" %}

{% block pageTitle %}{{ programma.program_type }}{% endblock %}

{% block content %}
    
    <div class="container my-container">
        <div class="row">

            <div id="outer_container" class="my-header">
                <div id="imagePan">
                    <div class="panning-container">
                        <div><img src="/img/bg_{{programma.slug}}.jpg" class="panning"></div>
                    </div>
                        <div class="imagePan-menu">
                            <br>
                            <h1>{{ programma.name }}</h1>
                            <h3>{{ programma.short_descr }}</h3>
                        </div>  
                </div>
            </div>   


         
            <div class="col-md-12">
                
                <p>
                {{ programma.long_descr | raw }}</p>
                <p>
               {{ programma.content | raw}}</p>
                <p>
               {{ programma.grounding }}</p>
            </div>


        </div>
    </div>





{% endblock %}