{% extends "base.html.twig" %}

{% block pageTitle %}{{ programma.program_type }}{% endblock %}

{% block content %}
    
    <div class="container my-container">
        <div class="row">

            <div id="outer_container" class="my-header">
                <div id="imagePan">
                    <div class="container">
                        <div><img src="/img/programmas_background.jpg" class="panning"></div>
                    </div>
                        <div class="yeah">
                            <br>
                            <h1>{{ programma.name }}</h1>
                            <h3>{{ programma.short_descr }}</h3>
                        </div>  
                </div>
            </div>   


         
            <div class="col-md-12">
                
                <p>
                {{ programma.long_descr }}</p>
                <p>
               {{ programma.content }}</p>
                <p>
               {{ programma.grounding }}</p>
            </div>


        </div>
    </div>





{% endblock %}