{% extends "base.html.twig" %}

{% block pageTitle %}Programmas{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            
            <div id="outer_container" class="my-header">
                <div id="imagePan">
                    <div class="container">
                        <div><img src="/img/programmas_background.jpg" class="panning"></div>
                    </div>
                    <div class="yeah">
                        <br>
                        <h1>Programmas</h1>
                        <div class="btn-group">
                            {% set newArray = [] %}
                            {% for programma in programmas %}
                                {% if programma.program_type not in newArray %}
                                    <button type="button" class="btn btn-default"><a href="#pk">{{programma.program_type}}</a></button>
                                {% set newArray = newArray|merge([programma.program_type]) %}
                                {% endif %}
                           
                            {% endfor %}
                        
                        
                        

                        
                            </div> 
                    </div>  
                </div>
            </div>   
                            
                            
            <div class="col-md-12">
                {% for programma in programmas %}
                    <a href="{{urlFor('study', {slug: programma.slug})}}">
                        <div class="program-box">
                            <img src="/assets/{{programma.slug}}.png" alt="{{programma.name}}">
                            <h3>{{ programma.name }}</h3>
                            <h5>{{ programma.short_descr}}</h5>
                        </div>
                    </a>
                {% endfor %}
             
            </div>
        </div>
    </div>
{% endblock %}